<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <style>
        .sidebar {
            height: 100%;
            width: 250px;
            position: fixed;
            top: 0px;
            left: -250px; /* Initially hidden */
            background-color: #333;
            overflow-x: hidden;
            transition: 0.3s;
        }
        
        body{
            background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
        }

        .sidebar a {
            padding: 16px;
            text-decoration: none;
            font-size: 18px;
            color: #fff;
            display: block;
            transition: 0.3s;
        }

        .sidebar a:hover {
            color: #007bff;
        }

        /* Content styles */
        .content {
            margin-left: 0; /* Initially hidden */
            padding: 20px;
            transition: 0.3s;
        }

        p {
            color: red;
            padding: 20px;
            font-size: 18px;
        }

        /* Toggle button styles */
        .toggle-btn {
            color: #ff0000;
            position: absolute;
            top: 10px;
            left: 10px;
            cursor: pointer;
            font-size: 24px;
            z-index: 999;
        }

        .sidebar-links {
            margin-top: 60px; 
        }

        .toggle-btn.opened {
            color: #ff0000; 
        }

        .toggle-btn {
            left: 10px;
        }
        
    </style>
</head>
<body>
    
    <div class="sidebar" id="sidebar">
        <div class="sidebar-links">
        <p>Befisc</p>  
        <a href="/dashboard">Home</a>
        <a href="#">About</a>
        <a href="/dashboard">Services</a>
        <a href="#">Contact</a>
        <a href="{{ url_for('profile') }}">Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>


    <div class="toggle-btn" id="toggleBtn">&#9776;</div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- JavaScript to handle sidebar toggle -->
    <script>
        const toggleBtn = document.getElementById('toggleBtn');
        const sidebar = document.getElementById('sidebar');
        let isSidebarOpen = false;

        toggleBtn.addEventListener('click', () => {
            if (isSidebarOpen) {
                sidebar.style.left = '-250px';
                isSidebarOpen = false;
                toggleBtn.classList.remove('opened');
            } else {
                sidebar.style.left = '0';
                isSidebarOpen = true;
                toggleBtn.classList.add('opened');
            }
        });
    </script>
</body>
</html>
